body{
    background-image: url('images/download.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}



@media screen and (min-width:480px) {
    body{
        width: 70%;
        display:block;
        margin: auto;
    }
}
@media screen and (min-width:769px) {
    body{
        width: 50%;
        display:block;
        margin: auto;
    }
}